<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <servlet>
        <servlet-name>FishListServlet</servlet-name>
        <servlet-class>controller.FishListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FishListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFishServlet</servlet-name>
        <servlet-class>controller.AddFishServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFishServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditFishServlet</servlet-name>
        <servlet-class>controller.EditFishServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditFishServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>